@using Nop.Core.Domain.Customers
@using Nop.Plugin.Misc.ExtendedRewardPointsProgram.Models
@using Nop.Services
@model RewardPointsModel

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Title
    </div>
    <div class="panel-body">
        <script type="text/javascript">
            $(document).ready(function () {
                $("#@Html.IdFor(model => model.IsEnabled)").click(function () {
                    $("#@ViewData.TemplateInfo.HtmlFieldPrefix").toggle();
                });
                if (!$("#@Html.IdFor(model => model.IsEnabled)").is(':checked'))
                    $("#@ViewData.TemplateInfo.HtmlFieldPrefix").hide();

                $("#@Html.IdFor(model => model.ActivatePointsImmediately)").click(function () {
                    $("#@ViewData.TemplateInfo.HtmlFieldPrefix-activation-delay").toggle();
                });
                if ($("#@Html.IdFor(model => model.ActivatePointsImmediately)").is(':checked'))
                    $("#@ViewData.TemplateInfo.HtmlFieldPrefix-activation-delay").hide();
            });
        </script>
        
        <p>@Model.Description</p>

        <div class="form-group">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="IsEnabled_OverrideForStore" asp-input="IsEnabled" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="IsEnabled" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="IsEnabled"/>
                <span asp-validation-for="IsEnabled"></span>
            </div>
        </div>
        <div id="@ViewData.TemplateInfo.HtmlFieldPrefix">
            <div class="form-group">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="Points_OverrideForStore" asp-input="Points" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="Points" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Points"/>
                    <span asp-validation-for="Points"></span>
                </div>
            </div>
            @if (Model is RewardPointsForFastPurchaseModel)
            {
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="@(((RewardPointsForFastPurchaseModel) Model).Minutes_OverrideForStore)" asp-input="@(((RewardPointsForFastPurchaseModel) Model).Minutes)" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="@(((RewardPointsForFastPurchaseModel) Model).Minutes)" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="@(((RewardPointsForFastPurchaseModel) Model).Minutes)"/>
                        <span asp-validation-for="@(((RewardPointsForFastPurchaseModel) Model).Minutes)"></span>
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="ActivatePointsImmediately" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ActivatePointsImmediately"/>
                    <span asp-validation-for="ActivatePointsImmediately"></span>
                </div>
            </div>
            <div class="form-group" id="@ViewData.TemplateInfo.HtmlFieldPrefix-activation-delay">
                <div class="col-md-3">
                    <nop-override-store-checkbox asp-for="ActivationDelay_OverrideForStore" asp-input="ActivationDelay" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                    <nop-label asp-for="ActivationDelay" />
                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-3">
                            <nop-editor asp-for="ActivationDelay"/>
                            <span asp-validation-for="ActivationDelay"></span>
                        </div>
                        <div class="col-md-3">
                            <nop-select asp-for="ActivationDelayPeriodId" asp-items="@(((RewardPointsActivatingDelayPeriod) Model.ActivationDelayPeriodId).ToSelectList())"/>
                            <span asp-validation-for="ActivationDelayPeriodId"></span>
                        </div>
                    </div>
                </div>
            </div>
            @(Html.LocalizedEditor<RewardPointsModel, LocalizedModel>(ViewData.TemplateInfo.HtmlFieldPrefix + "-localized",
                @<div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="Message_OverrideForStore" asp-input="@Model.Locales[item].Message" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="@Model.Locales[item].Message" />
                        </div>
                        <div class="col-md-9">
                            <nop-textarea asp-for="@Model.Locales[item].Message"></nop-textarea>
                            <span asp-validation-for="@Model.Locales[item].Message"></span>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.Locales[item].LanguageId)
                </div>
                ,
                @<div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="Message_OverrideForStore" asp-input="Message" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="Message" />
                        </div>
                        <div class="col-md-9">
                            <nop-textarea asp-for="Message"></nop-textarea>
                            <span asp-validation-for="Message"></span>
                        </div>
                    </div>
                </div>
                ,
                //localizable settings per store (overrriden store settings) are not supported yet
                true
            ))
        </div>
    </div>
</div>
