@using Nop.Plugin.Misc.ExtendedRewardPointsProgram.Models
@using Nop.Web.Framework
@model RewardPointsOnDateModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminPopupLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @(Model.Id > 0 ? T("Plugins.Misc.ExtendedRewardPointsProgram.RewardPointsOnDate.AddNew") : T("Plugins.Misc.ExtendedRewardPointsProgram.RewardPointsOnDate.Edit"))
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
   
    @Html.ValidationSummary(false)
    @Html.HiddenFor(model => model.Id)

    if (ViewBag.RefreshPage == true)
    {
        <script type="text/javascript">
            try {
                $("#@(ViewBag.btnId)", window.opener.document).click();
            } catch (e) {
                Console.log(e);
            }
            window.close();
        </script>
    }

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="AwardingDateUtc" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AwardingDateUtc" />
                                <span asp-validation-for="AwardingDateUtc"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="Points" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Points" />
                                <span asp-validation-for="Points"></span>
                            </div>
                        </div>
                        <div class="form-group" @(Model.AvailableStores.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                            <div class="col-md-3">
                                <nop-label asp-for="StoreId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="StoreId" asp-items="Model.AvailableStores"/>
                                <span asp-validation-for="StoreId"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="CustomerRoleId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="CustomerRoleId" asp-items="Model.AvailableCustomerRoles" />
                                <span asp-validation-for="CustomerRoleId"></span>
                            </div>
                        </div>
                        @(Html.LocalizedEditor<RewardPointsOnDateModel, LocalizedModel>("settings-on-date-localized",
                            @<div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="@Model.Locales[item].Message" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-textarea asp-for="@Model.Locales[item].Message"></nop-textarea>
                                        <span asp-validation-for="@Model.Locales[item].Message"></span>
                                    </div>
                                </div>
                                @Html.HiddenFor(model => model.Locales[item].LanguageId)
                            </div>
                            ,
                            @<div>
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <nop-label asp-for="Message" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-textarea asp-for="Message" />
                                        <span asp-validation-for="Message"></span>
                                    </div>
                                </div>
                            </div>
                        ))
                    </div>
                </div>
            </div>
        </div>
    </div>
}
